Hi!

<p>This is just a test case for the assessments engine.</p>
<p>The core engine tables are assessments, questions, answers, assessors and scores</p>

<p>Other table stubs are there to test the flow outside the engine. Stages(job_stages), Candidates(CS), and people.</p>

<p>To test an application simulation /actions/take/{stageid}/{model}/{person_id or candidate_id}</p>

<p>to test a single assessment not using the test part of the engine  /actions/take/{assessor_id}/default/{person_id or candidate_id} </p>

This is just an experiment